.top-charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.charts-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.applications-sankey-chart {
    width: 100%;
    min-height: 360px;
    margin-top: 24px;
    grid-column: 1 / -1;
}